<section class="login">
  <div class="form-side">
    <h1 class="titel">De Kast</h1>
    <div class="secondary-title">Inloggen op je account</div>
    <form action="">
      <div class="input-con email">
        <label for="email">E-mailadres</label>
        <input type="email" placeholder="Type in je e-mailadres ...">
      </div>
      <div class="input-con wachtwoord">
        <label for="password">Wachtwoord</label>
        <input type="password" placeholder="Type in je wachtwoord ...">
      </div>
      <a href="#" class="reset-pass">Wachtwoord vergeten?</a>
      <div class="button-container">
        <input type="submit" class="inloggen" value="Inloggen">
        <a href="./register" class="ghost-btn maak-een-account">Maak een account</a>
      </div>
    </form>
  </div>
  <div class="side-background">
    <img src="../../assets/icons/stretching-icon.svg" alt="">
    <h1 class="titel">Ontdek de Kast</h1>
    <p class="big-paragraph">“jouw sportschool voor yoga, pilates en paaldansen. Kies uit diverse abonnementen en opties voor personal coaching. Ga
    met ons mee op een fitnessreis naar een gezonder, sterker en gelukkiger leven.”</p>
  </div>
</section>