<!-- <h1>TEST</h1>
<button (click)="goToRegister()">Go to Register</button>
<router-outlet></router-outlet> -->

<div *ngIf="showHeaderAndFooter">
<h1>TEST</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register component</a></li>
  </ul>
</nav>
</div>
<!-- The routed views render in the <router-outlet>-->
<router-outlet ></router-outlet>

<!-- <nav-bar *ngIf="showNavBar"></nav-bar>
<router-outlet (activate)="toggleNavBar($event)"></router-outlet> -->


